
*.tif
*.zip
*.psx
*.tls
*.JPG
*.tiff
*.oc3
*.kml
*.bb3
*.db
*.mis3
*.syn3
*.xml
*.log
*.p4d
*.dat
*.rrd
*.evs
*.lfm
*.img
Data
Processed/orthophoto.files/lock
Processed/wetzwil_rgb.files/lock
*.grp
*.data
Processed/Beromünster_micasense.files/lock
*.sav
*.sav
*.rde
*.ige
ERDAS/aoi_test.aoi
ERDAS/Brache.aux
ERDAS/erdas.ixs
ERDAS/erdas/tmp.163907667314136142.vue
ERDAS/erdas/wiese_Brache.ixs
ERDAS/erdas/wiese_Brache/tmp.163948962916820116.vue
ERDAS/signat.sig
ERDAS/Signature_rgb.sig
ERDAS/Signature_Wetzwil.sig
ERDAS/sigsig.sig
polygone.dbf
polygone.qml
polygone.shp
polygone.shx
Processed/Gampelen/ModelTransfer_result.cpg
Processed/Gampelen/ModelTransfer_result.dbf
Processed/Gampelen/ModelTransfer_result.prj
Processed/Gampelen/ModelTransfer_result.shp
Processed/Gampelen/ModelTransfer_result.shx
Processed/Gampelen/rgb.aux
Processed/Gampelen/Stack_6Channels_clipped.aux
polygone.dbf
polygone.qml
polygone.shp
polygone.shx
Erdas.qgz
data_stacks.qgz
ERDAS/Alte/tmp.163907667314136142.vue
ERDAS/Alte/wiese_Brache.ixs
ERDAS/Alte/wiese_Brache/tmp.163948962916820116.vue
